/* Application-wide Styles */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
.border-header {
    border-bottom: #BCBCBC 1px solid;
}
.highlight {
    color: #FFD700;
}
.block-hero {
    height: 664px;
}
.block-holder {
    height: 288px;
    background-color: #516EFF;
}
.block-key {
    height: 644px;
}
.block-title_feature {
    height: auto;
    padding-top: 52px;
    padding-bottom: 30px;
}
.block-feature {
    height: 388;
}
.block-c2b {
    height: 492px;
    background-color: #516EFF;
}
.block-appoinment {
    height: 634px;
}
.block-newsletter {
    height: 508px;
    background-color: #F8FAFC;
}
.main-hero, 
.main-holder,
.main-key,
.main-feature,
.main-text-feature,
.main-c2b,
.main-appoinment,
.main-newsletter {
    display: flex;
    height: 100%;
}
.section-hero, 
.section-holder,
.section-feature,
.section-appoinment {
    max-width: 50%;
    margin: auto 0;
}
.section-key1 {
    max-width: 40%;
    margin: auto 0;
}
.section-key1 h2 {
    padding: 80px 0;
}
.section-key2 {
    max-width: 60%;
    margin: auto 0;
}
.section-holder,
.section-key1,
.section-feature,
.section-appoinment,
.section-newsletter {
    width: 100%;
    padding: 0 15px;
}
.section-key2 {
    width: 100%;
    padding: 0 38px;
}
.section-card {
    padding: 0 34px;
}
.section-c2b {
    width: 100%;
    margin: auto 0;
}
.section-card img {
    width: 76px;
    height: 100px;
    padding-top: 26px;
    margin: 0 auto;
}
.section-holder img {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}
.section-appoinment img {
    width: 80%;
}
.section-newsletter {
    background-color: #216583;
    margin: auto 40px;
    padding: 60px;
}
@media (max-width: 1024px) { 
    .main-holder {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .section-holder {
        max-width: 80%;
        margin: auto 0;
    }
}
@media (max-width: 990px) {
    .block-hero {
        height: 564px;
    }
    .section-newsletter {
        height: auto;
        padding: 40px;
    }
}
@media (max-width: 768px) {
    .block-hero,
    .block-holder,
    .block-key,
    .block-title_feature,
    .block-c2b,
    .block-feature,
    .block-newsletter,
    .block-appoinment {
        height: auto;
    }
    .block-c2b {
        padding-top: 2rem;
        padding-bottom: 1.2rem;
    }
    .main-hero {
        display: block;
    }
    .main-key,
    .main-text-feature,
    .main-appoinment,
    .main-appoinment {
        flex-direction: column;
    }
    .section-hero,
    .section-feature,
    .section-appoinment {
        max-width: 100%;
        padding-top: 2rem;
        padding-bottom: 1.2rem;
    }
    .section-hero img,
    .section-key1 img,
    .section-appoinment img {
        width: 80%;
        margin: 0 auto;
    }
    .section-holder {
        max-width: 100%;
    }
    .section-key1,
    .section-key2 {
        max-width: 100%;
        padding: 0;
    }
    .section-newsletter .form {
        flex-direction: column;
    }
    .section-newsletter {
        height: auto;
        padding: 20px;
    }
}