<section>

  <nav class="bg-white border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 border-header">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="../assets/images/logo.png" class="h-8" alt="Dentics Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-black">Dentics</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
          <li>
            <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0" aria-current="page">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Services</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">About us</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="block-hero">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-hero">
      <div class="mx-auto section-hero">
        <div class="text-left">
          <h1 class="text-5xl font-bold tracking-tight sm:text-4xl">We Provide High <br>Quality <span class="highlight">Dental</span> Services</h1>
          <p class="mt-6 text-xl leading-8 text-gray-600">Appropriately embrace transparent materials via turnkey niche markets.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
            <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm border-gray-950 hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Learn More</a>
          </div>
        </div>
      </div>
      <div class="mx-auto section-hero">
        <div class="p-4">
          <img src="../assets/images/image_hero.png" class="h-auto" alt="Image Hero" />
        </div>
      </div>
    </div>
  </div>

  <div class="block-holder">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-holder">
      <div class="mx-auto section-holder">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-3xl">How to get our service?</h2>
        <p class="mt-6 text-xl leading-8 text-white">Just follow these simple steps.</p>
      </div>
      <div class="mx-auto flex justify-between section-holder">
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
          <img src="../assets/images/icon_step1.png" class="h-auto text-center" alt="Step1" />
          <p class="font-normal text-lg text-black text-center">Call for <br>appointment</p>
        </div>
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
          <img src="../assets/images/icon_step2.png" class="h-auto text-center" alt="Step2" />
          <p class="font-normal text-lg text-black text-center">Get a <br>Date & Serial</p>
        </div>
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
          <img src="../assets/images/icon_step3.png" class="h-auto text-center" alt="Step3" />
          <p class="font-normal text-lg text-black text-center">Consult <br>Your dentist</p>
        </div>
      </div>
    </div>
  </div>

  <div class="block-key">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-key">
      <div class="mx-auto section-key1">
        <h2 class="text-5xl font-bold tracking-tight sm:text-4xl">Always <span class="highlight">Lough</span> <br>Whenever Its Possible</h2>
        <img src="../assets/images/image_key.png" class="h-auto text-center" alt="Key" />
      </div>
      <div class="mx-auto section-key2">
        <p class="mt-5 text-xl leading-8 text-gray-600">We also offer treatments that improve the appearance of your smile giving you the confidence boost you deserve. The process or our treatment below.</p>
        <div>
          <p class="mt-5 text-2xl leading-8 text-gray-900">WHAT WE PROVIDE</p>
          <div class="mx-auto mt-12 max-w-2xl sm:mt-10 lg:mt-10 lg:max-w-4xl">
            <dl class="mx-auto grid max-w-xl grid-cols-1 gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-2 lg:gap-y-4">
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Check ups
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Emergencies
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Cosmetic dentistry
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Dental implants
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Orthodontics
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Children’s dentistry
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Preventative checks
                </dt>
              </div>
              <div class="relative pl-12">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div class="absolute left-0 flex h-8 w-8 items-center justify-center">
                    <img src="../assets/images/icon_key.png" class="h-auto text-center" alt="Key" />
                  </div>
                  Telephone consultations
                </dt>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-title_feature">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-feature">
      <div class="mx-auto section-feature">
        <div class="text-left">
          <h2 class="text-5xl font-bold tracking-tight text-black sm:text-4xl">What Makes Us More <br>Special</h2>
        </div>
      </div>
      <div class="mx-auto section-feature">
        <div class="text-right">
          <h2 class="text-4xl font-bold tracking-tight text-black sm:text-3xl">KEY <span class="highlight">FEATURE</span></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="block-title_feature">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-feature">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 text-center">
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature1.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature2.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature3.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature4.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature5.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>
        <div class="h-auto max-w-full rounded-lg bg-gray-100 section-card">
          <img src="../assets/images/icon_feature6.png" alt="">
          <p class="mt-5 text-xl leading-8 text-gray-800">Laser Technology</p>
          <p class="mt-5 text-base leading-8 text-gray-600">Worlds most advanced Diode Laser. Your treatment experience will be relaxing & smooth.</p>
        </div>     
      </div>
    </div>
  </div>

  <div class="block-c2b">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-c2b">
      <div class="mx-auto section-c2b">
        <div class="text-center">
          <h2 class="text-5xl font-bold tracking-tight text-white sm:text-4xl">Let Us Brighten Your Smile!</h2>
          <p class="mt-6 text-lg leading-8 text-white">Helping patients achieve good dental health & beautiful smile is a privilege & responsibility. For over 30 years, we proudly provided the best dental experience in New York. Our comfort-first approach is designed to meet the needs of you & your entire family.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm border-gray-950 hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">Make An Appinment</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-title_feature">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-feature">
      <div class="mx-auto section-feature">
        <div class="text-left">
          <h2 class="text-4xl font-bold tracking-tight text-black sm:text-3xl">WHO <span class="highlight">WE ARE</span></h2>
        </div>
      </div>
      <div class="mx-auto section-feature">
        <div class="text-right">
          <h2 class="text-5xl font-bold tracking-tight text-black sm:text-4xl">Our Glorious <br>History</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="block-feature">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-text-feature">
      <div class="mx-auto section-feature">
        <div class="p-4">
          <img src="../assets/images/image_feature.png" class="h-auto" alt="Image Feature" />
        </div>
      </div>
      <div class="mx-auto section-feature">
        <div class="text-left max-w-full p-8 rounded-lg bg-gray-100 section-card">
          <h3 class="text-lg text-black pt-5">Our history</h3>
          <p class="mt-6 text-base leading-8 text-gray-600 pb-5">Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990 under the hands of Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics dental center has been leading the way in dental treatment in USA for more than 30 years in keeping with the evolution of time and the modernization of the era.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="block-title_feature">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-feature">
      <div class="mx-auto section-feature">
        <div class="text-left">
          <h2 class="text-5xl font-bold tracking-tight text-black sm:text-4xl">Meet Some of Our <br>Brains</h2>
        </div>
      </div>
      <div class="mx-auto section-feature">
        <div class="text-right">
          <h2 class="text-4xl font-bold tracking-tight text-black sm:text-3xl">MEET OUR <span class="highlight">DOCTORS</span></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="block-appoinment">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-appoinment">
      <div class="mx-auto section-appoinment">
        <div class="p-4">
          <img src="../assets/images/image_appoinment.png" class="h-auto" alt="Image Feature" />
        </div>
      </div>
      <div class="mx-auto section-appoinment">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
            <div class="mt-2">
              <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>
            <div class="mt-2">
              <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Date</label>
          <div class="mt-2">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div class="col-span-full">
          <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About</label>
          <div class="mt-2">
            <textarea id="about" name="about" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
          </div>
        </div>
        <div class="relative flex gap-x-3 pt-4">
          <div class="flex h-6 items-center">
            <input id="offers" name="offers" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
          </div>
          <div class="text-sm leading-6">
            <label for="offers" class="font-medium text-gray-900">You agree to our friendly privacy policy</label>
          </div>
        </div>
        <div class="mt-6 flex items-center justify-center gap-x-6">
          <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Confirm Appoinment</a>
        </div>
      </div>
    </div>
  </div>

  <div class="block-newsletter">
    <div class="px-6 lg:px-8 max-w-screen-xl mx-auto main-newsletter">
      <div class="mx-auto rounded-lg section-newsletter">
        <div class="text-center">
          <h2 class="text-5xl font-bold tracking-tight text-white sm:text-4xl">Subscribe to our newsletter</h2>
          <div class="mt-6 flex max-w-2xl gap-x-4 text-center mx-auto form">
            <input id="name" name="name" type="name" autocomplete="name" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 sm:my-4" placeholder="First name">
            <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 sm:my-4" placeholder="Email address">
            <a href="#" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm border-gray-950 hover:bg-slate-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 sm:my-4">Subscribe Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-white" style="background-color: #516EFF;">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-4">
              <div>
                  <a href="#" class="flex items-center">
                      <img src="../assets/images/logo.png" class="h-8 me-3" alt="FlowBite Logo" />
                      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Dentics</span>
                  </a>
                  <p class="mt-6 text-sm leading-8 text-white">Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990</p>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-normal text-white">We are welcoming you</h2>
                  <ul class="text-gray-500 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline text-white text-xl">Want to visit our clinic?</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-white text-base">Saturday - Thrusday <br>10 am- 9 pm</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-normal text-white">Important link</h2>
                  <ul class="text-gray-500 font-medium mx-auto grid grid-cols-1 gap-x-8 gap-y-4 lg:max-w-none lg:grid-cols-2 lg:gap-y-4">
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Facebook</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Career</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Twitter</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Support</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Instagram</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Privacy policy</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-normal text-white">Say hello to us</h2>
                  <ul class="text-gray-500 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline text-sm text-white">hello@reallygreatsite.com</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline text-sm text-white">Address <br>123 Anywhere St., Any City, NY 39200</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-center">
          <span class="text-sm text-white sm:text-center">© 2001 - 2022, All Rights Reserved.</span>
      </div>
    </div>
  </footer>

</section>